@model IEnumerable<Bertoni.Entities.Models.Album>

@{ ViewData["Title"] = "Albums"; }

<div class="container">
    <h1>Albunes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td><a href="@Url.Action("Photos", "Gallery", new {  id=item.Id })" class="btn btn-outline-primary ml-auto">View Album</a></td>
            </tr>
            }
        
        </tbody>
    </table>

</div>